<style>
  .breadcrumb-item a {
    text-decoration: none;
    color: #466db4;
  }

  .breadcrumb-item.active a {
    color: #333;
  }

  .gambar-kecil {
    padding: 1px;
  }

  .gambar-kecil.active {
    border: 1px solid var(--bs-dark);
    --bs-border-opacity: .5;
  }

  .slide-gambar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nama-produk {
    font-size: 1.4rem;
    color: #333;
    font-weight: 700;
  }

  .harga {
    font-size: 1.3rem;
    color: #3ca03c;
  }

  .harga-diskon {
    font-size: 0.8rem;
    text-decoration: line-through;
    color: #999;
  }

  .rating i {
    cursor: pointer;
    color: #ccc;
    font-size: 0.8rem;
    transition: 0.3s;
  }

  .rating i.bi.active {
    color: #e4cd00;
  }

  .jumlah-rating {
    font-size: 0.7rem;
    color: #555;
  }

  .nama-lain {
    font-weight: 700;
    color: #333;
    font-size: 0.9rem;
    text-decoration: none;
    line-height: 1.3;
    display: inline-block;
    margin-bottom: 0;
  }

  .harga-lain {
    font-size: 0.8rem;
    margin-bottom: 6px;
  }

  .card-title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0;
  }
</style>

<section id="top-nav">
  <nav aria-label="breadcrumb" class="shadow p-2 rounded">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a
          href="/filter?category=<%= product.kategori.slug %>"><%= product.kategori.nama %></a></li>
      <li class="breadcrumb-item active"><a href="/"><%= product.nama %></a></li>
    </ol>
  </nav>
</section>

<section id="product-content" class="mt-3">
  <div class="row">
    <div class="col-md-4">
      <div class="slide-gambar">
        <div class="col-sm-2">
          <% product.gambar.forEach((gambar, index) => { %>
          <div class="mb-2">
            <img src="/<%= gambar.path %>" alt="<%= gambar.nama %>"
              class="img-fluid gambar-kecil <%= index === 0 ? 'active' : '' %>" />
          </div>
          <% }) %>
        </div>

        <div class="col-sm-9">
          <div class="text-center">
            <img src="/<%= product.gambar[0].path %>" alt="gambar-slide" class="img-fluid gambar-besar">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card shadow border-0">
        <div class="card-body">
          <img src="/<%= product.brand.logo %>" alt="<%= product.brand.nama %>" width="50"> <br />
          <h3 class="nama-produk"><%= product.nama %></h3>
          <div class="harga-produk">
            <span class="harga"><%= setRupiah(product.harga) %></span>
            <span class="harga-diskon"><%= hitungHargaSetelahDiskon(product.harga, product.diskon) %></span>
          </div>
          <p class="mb-0">Stok : <%= product.stock %> Unit</p>
          <div class="rating">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <span class="jumlah-rating">(3)</span>
          </div>
          <h5 class="mt-2">Deskripsi Produk</h5>
          <p><%- product.deskripsi %></p>

          <button type="button" class="btn btn-success" onclick="window.open('https:/\/wa.me/62', '_blank')"><i
              class="bi bi-whatsapp"></i> Pesan lewat WA</button>


        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card border-0 shadow">
        <div class="card-header border-bottom-0">
          <h4 class="card-title">AC lainnya</h4>
        </div>
        <div class="card-body">
          <% otherProduct.forEach(other => { %>
          <div class="row mb-3">
            <div class="col-md-4 pe-2">
              <img src="/<%= other.gambar[0].path %>" alt="<%= other.gambar[0].nama %>" class="img-fluid">
            </div>
            <div class="col-md-8">
              <a class="nama-lain" href="/q/<%= other.slug %>"><%= other.nama %></a>
              <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <span class="jumlah-rating">(3)</span>
              </div>
              <p class="harga-lain"><%= hitungHargaSetelahDiskon(other.harga, other.diskon) %></p>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const gbrKecilElement = document.querySelectorAll('.gambar-kecil');
  const gbrBesarElement = document.querySelector('.gambar-besar');

  gbrKecilElement.forEach((gbr, index) => {
    gbr.addEventListener('click', function () {
      gbrKecilElement.forEach((gbr) => {
        gbr.classList.remove('active');
      })

      const src = this.getAttribute('src');
      gbrBesarElement.setAttribute('src', src);
      this.classList.add('active');
    });
  });

  const rating = document.querySelectorAll('.rating');

  rating.forEach((rat, index) => {
    const stars = rat.querySelectorAll('.bi-star-fill');

    stars.forEach((star, index) => {
      star.addEventListener('mouseover', function () {
        if (index > 0) {
          // mengaktifkan star di belakang pada 1 produk saja
          for (let i = 0; i <= index; i++) {
            stars[i].classList.add('active');
          }
        }
      });

      star.addEventListener('mouseout', function () {
        if (index > 0) {
          // menonaktifkan star di belakang pada 1 produk saja
          for (let i = 0; i <= index; i++) {
            stars[i].classList.remove('active');
          }
        }
      });
    })
  });

</script>