<% if (success) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <span><%= success %></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if (error) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <span><%= error %></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<a href="/product/add" class="btn btn-success mb-2"><i class="bi bi-plus"></i> Tambah Produk</a>

<table class="table">
  <thead class="table-light">
    <tr>
      <th>No</th>
      <th>Nama Produk</th>
      <th>Kode Produk</th>
      <th>Kategori</th>
      <th>Harga</th>
      <th>Stock</th>
      <th>Deskripsi</th>
      <th>Gambar</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Tindakan</th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% options = {
      weekday: "long",
      year: "numeric",
      month: "long",
      day: "numeric",
      hour: "2-digit",
      minute: "2-digit",
      second: "2-digit",
    } %>
    <% data.forEach(product => { %>
    <tr>
      <td><%= i++ %></td>
      <td><%= product.nama %></td>
      <td><%= product.kd_produk %></td>
      <td><%= product.kategori.nama %></td>
      <!-- function dibawah ada di helper -->
      <td><%= hitungHargaSetelahDiskon(product.harga, product.diskon) %></td>
      <td><%= product.stock %></td>
      <td><%= product.deskripsi %></td>
      <td>
        <img src="/<%= product.gambar[0].path %>" width="200" alt="<%= product.gambar[0].nama %>">
      </td>
      <td>
        <%= product.createdAt.toLocaleString('ID-id', options) %>
      </td>
      <td>
        <%= product.updatedAt.toLocaleString('ID-id', options) %>
      </td>
      <td>
        <a href="/product/edit/<%= product._id %>" class="badge bg-primary"><i class="bi bi-pencil"></i></a>
        <form action="/product" method="post" class="d-inline" onsubmit="return confirm('anda yakin?')">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_id" value="<%= product._id %>">
          <button type="submit" class="badge bg-danger border-0"><i class="bi bi-trash"></i></button>
        </form>
      </td>
    </tr>
    <% }) %>

    <% if (!data.length) { %>
    <tr>
      <td colspan="11" class="text-center">Data belum diisi</td>
    </tr>
    <% } %>

  </tbody>

  <script>
  </script>
</table>